#textdomain wesnoth-3L

[scenario]
	id="03a_Weldyn"
	name="Weldyn"
	map_file=weldynA3liches.map
    turns=30
    next_scenario=null
	victory_when_enemies_defeated=no
	allow_new_game=yes
    experience_modifier=70
	[story]
		[part]
			{3L_BIGMAP}
            story= _ "To Do."
        [/part]
	[/story]
	{3L_TRACK {JOURNEY_05_NEW} }
	
	{MIDNIGHT}
    {SECOND_WATCH}
	{DAWN} {TOD_COLOR_SHIFT -30 -15 5}
    {MIDDAY} {TOD_COLOR_SHIFT -5 -5 5}
    {DUSK} {TOD_COLOR_SHIFT 5 -20 -30}
    {FIRST_WATCH}
	
	{SCENARIO_MUSIC "the_city_falls.ogg"}

	[side]
		{PATIENCE_TEAM}
		{PARES-NA 22 33}
		side=1
		team_name=1
		gold=110
		income=4
	[/side]
	
	[side]
		{WELDYN_TEAM}
		{CHARACTER_STATS_KING 21 19}
		side=2
		team_name=2
		gold=80
		income=0
		{CHARACTER_STATS_GWEDDRY 23 19}
		{CHARACTER_STATS_DACYN 19 19}
		{CHARACTER_STATS_OWAEC 21 17}
		{CHARACTER_STATS_TERRAENT 21 21}
		{VILLAGE 22 14}
		{VILLAGE 17 18}
		{VILLAGE 14 18}
		{VILLAGE 18 22}
		{VILLAGE 22 22}
		{VILLAGE 27 21}
		{VILLAGE 25 18}
		{VILLAGE 26 15}
		{VILLAGE 18 16}
	[/side]
	
	[side]
		{REFUGEE_TEAM 3}
		{CHATRAIX 21 20}
		team_name=2
		gold=110
		income=2
	[/side]
	
	[event]
        name=prestart
		
    [/event]
	
	[event]
        name=start
		#city defender
		{GENERIC_UNIT 2 (Spearman) 27 23}
		{GENERIC_UNIT 2 (Spearman) 27 15}
		{GENERIC_UNIT 2 (Spearman) 22 12}
		{GENERIC_UNIT 2 (Spearman) 15 15}
		{GENERIC_UNIT 2 (Spearman) 13 22}
		{GENERIC_UNIT 2 (Spearman) 22 24}
		{GENERIC_UNIT 2 (Bowman) 28 21}
		{GENERIC_UNIT 2 (Bowman) 28 16}
		{GENERIC_UNIT 2 (Bowman) 20 12}
		{GENERIC_UNIT 2 (Bowman) 14 16}
		{GENERIC_UNIT 2 (Bowman) 15 23}
		{GENERIC_UNIT 2 (Bowman) 20 24}
		
		{SPEAK (Dacyn) ( _ "Your Majesty, the undead advance on Weldyn, if you can trust the reports of the saurians, they are but a step away from the city.")}
		{SPEAK (Konrad) ( _ "I understand your concerns, the council was summoned as soon as we had word. This is some kind of an invasion planned for ages, there is no other way the undead could have come up with such numbers as reported. I doubt the saurians could even count up that high.")}
		{SPEAK (Dacyn) ( _ "What can we do but await here? If these preposterous reports are to be believed, we don't have nearly the men to go out in the field.")}
		{SPEAK (Konrad) ( _ "Indeed, we have raised all the troops in the land, but it seems we barely have parity with their reported numbers. We shall have to fight behind these walls, for going outside is certain death.")}
		{SPEAK (Gweddry) ( _ "As you command Your Majesty.")}
		
		[delay]
            time=1000
        [/delay]
		{SPEAK (Pares-Na) ( _ "Ah, finally we arrive at Welydn, certainly a nice spot for the humans to gather, so we can take care of this business without having to chase them down.")}
		{SPEAK (Terraent) ( _ "Who goes there? Name yourself!")}
		{SPEAK (Pares-Na) ( _ "My name isn't important. What matters is that I come to teach you the secrets of immortality in undeath, as you will need this to survive in the world that this world is about to become. Join us in our immortal world of peace.")}
		{SPEAK (Konrad) ( _ "The undead have no place in this world, nor would we willingly join your cause. You will be destroyed right here, by these hands, and that will be the end of it.")}
		{SPEAK (Pares-Na) ( _ "You waste the only opportunity you had. Your pride will be your downfall, for you don't understand what we offer. Well, if you don't want to do it the easy way, I might as well show you what you missed out on the hard way.")}
		
		{GENERIC_UNIT 1 (Skeleton) 24 26}
		{GENERIC_UNIT 1 (Skeleton) 28 24}
		{GENERIC_UNIT 1 (Skeleton) 31 20}
		{GENERIC_UNIT 1 (Skeleton) 31 17}
		{GENERIC_UNIT 1 (Skeleton) 27 12}
		{GENERIC_UNIT 1 (Skeleton) 24 10}
		{LOYAL_UNIT 1 (Undead Swamp Lizard) 33 16}
		{LOYAL_UNIT 1 (Undead Swamp Lizard) 26 9}
		{LOYAL_UNIT 1 (Undead Swamp Lizard) 27 28}
		{GENERIC_UNIT 1 (Vampire Bat) 12 3}
		{GENERIC_UNIT 1 (Vampire Bat) 7 30}
		{GENERIC_UNIT 1 (Vampire Bat) 39 4}
		
		{MOVE_UNIT (id="Pares-Na") 20 31}
		{ATTACK_ANIMATION_SPELL Pares-Na 1 1}
		[terrain]
			x,y=20,31
			terrain=Kerg
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		[terrain]
			x,y=20,30
			terrain=Cer
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		[terrain]
			x,y=19,31
			terrain=Cer
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		[terrain]
			x,y=19,32
			terrain=Cer
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		[terrain]
			x,y=21,31
			terrain=Cer
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		[terrain]
			x,y=21,32
			terrain=Cer
		[/terrain]
		[delay]
            time=100
        [/delay]
        [redraw][/redraw]
		
		{SIDEKICK_PARES_NA_BOTH}

        [objectives]
            side=1
			{OBJECTIVE (_"Eliminate the Human King") (win)}
			{OBJECTIVE (_"Death of Pares-Na") (lose)}
            {TURNS_RUN_OUT}
			[gold_carryover]
				bonus=yes
				carryover_percentage=40
			[/gold_carryover]
        [/objectives]
		
		[objectives]
            side=2
			{OBJECTIVE (_"Defend your King (until turns run out)") (win)}
			{OBJECTIVE (_"Death of Pares-Na") (win)}
            {OBJECTIVE (_"Death of the King") (lose)}
			[gold_carryover]
				bonus=yes
				carryover_percentage=40
			[/gold_carryover]
        [/objectives]
		
		[for]
			array=refugees_stored
			[do]
				[unstore_unit]
					variable=refugees_stored[$i]
					x,y=recall,recall
				[/unstore_unit]
			[/do]
		[/for]
		
		{FLEEEVENT 23 1}
    [/event]
	
	[event]
		name=side 2 turn 1 refresh 
		
		{SPEAK (Pares-Na) ( _ "Feeling foggy today? ")}
		
		{ATTACK_ANIMATION_SPELL Pares-Na 5 26}
		[modify_side]
			side=2
			fog=yes
		[/modify_side]
		
	[/event]

	###### Victory/Defeat Events ######
	
    [event]
        name=last_breath
        [filter]
            id=Konrad
        [/filter]
		{SAVE_REFUGEE}
		[endlevel]
			[result]
				side=1
				result=victory
				bonus=yes
				{NEW_GOLD_CARRYOVER 40}
			[/result]
			[result]
				side=2
				result=defeat
				bonus=no
				{NEW_GOLD_CARRYOVER 40}
			[/result]
		[/endlevel]
    [/event]
	
    [event]
        name=time over
		{SAVE_REFUGEE}
		[endlevel]
			result=victory
			bonus=no
			{NEW_GOLD_CARRYOVER 40}
		[/endlevel]
    [/event]
	
	{ORACLE}
[/scenario]

