#undead banner
#define UNDEAD_FLAG
    {FLAG_VARIANT undead}
#enddef

#define ELF_FLAG
    {FLAG_VARIANT wood-elvish}
#enddef

#Side definition
#define ELBON_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Elbon
	recruit=Skeleton,Skeleton Archer,Skeleton Rider
	{UNDEAD_FLAG}
#enddef

#define PATIENCE_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Patience
	recruit=Ghost,Dark Adept,Skeletal Dragon,Skeleton,Skeleton Archer,Walking Corpse,Vampire Bat
	{UNDEAD_FLAG}
#enddef

#define TAWFUL_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Tawful
	recruit=Icy_Dark Adept,Icy_Ghoul,Icy_Skeleton,Icy_Skeleton Archer,Icy_Ghost,Penguin
	{UNDEAD_FLAG}
#enddef

#define CHATRAIX_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Saurians"
	save_id=Saurian
	recruit=Saurian Skirmisher,Saurian Hunter,Desert Saurian Slinger,Desert Saurian Milita,Deep Saurian Fighter,Deep Saurian Blacksmith,Deep Saurian Rider
	{ATO_SAURIAN_FLAG}
#enddef

#define URADREDIA_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lintanir Elves"
	save_id=Elves
	recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Wose
	{ELF_FLAG}
#enddef

#define SERRUL_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Dunefolk"
	save_id=Serrul
	recruit=Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner
#enddef