#undead banner
#define UNDEAD_FLAG
    {FLAG_VARIANT undead}
#enddef

#define ELF_FLAG
    {FLAG_VARIANT wood-elvish}
#enddef

#define BLACK_FLAG
    flag=flags/black-flag-[1,2,1,3].png:[100,300,100,300]
    flag_icon=flags/black-flag-icon.png
#enddef

#define CUSTOM_SG_FLAG
    flag=flag/SG-flag-[1~4].png:150
    flag_icon=flag/SG-flag-icon.png
#enddef

#Side definition
#define ELBON_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Elbon
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Necro Initiate,Skeletal Corpse,Skeleton,Skeleton Archer,Exi Skeleton Spearman,Skeleton Rider,Chocobone,Death Squire
	{UNDEAD_FLAG}
#enddef

#define PATIENCE_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Patience
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Ghost,Dark Adept,Skeletal Dragon Patience,Skeleton,Skeleton Archer,Walking Corpse,Vampire Bat
	{UNDEAD_FLAG}
#enddef

#define TAWFUL_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lich"
	save_id=Tawful
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Icy_Dark Adept,Icy_Ghoul,Icy_Skeleton,Icy_Skeleton Archer,Icy_Ghost,Penguin
	{UNDEAD_FLAG}
#enddef

#define REFUGEE_TEAM_NO_PLAYER SIDE	
[side]
	controller="null"
    team_name=player
	allow_player=false
	no_leader=yes
	hidden=yes
	side={SIDE}
	gold_lock=false
	income_lock=false
	color_lock=false
    user_team_name= _ "Refugees"
	save_id=Refugee
[/side]
#enddef

#define REFUGEE_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Refugees"
	save_id=Refugee
	gold_lock=false
	income_lock=false
	color_lock=false
	{FLAG_VARIANT6 ragged}
	#recruit=Saurian Skirmisher,Desert Saurian Slinger,Deep Saurian Blacksmith,Elvish Shaman,Elvish Scout,Dune Burner,Dune Soldier,Heavy Infantryman,Bowman,Mage,Wolf Rider,Troll Whelp,Naga Fighter,Orcish Grunt,Orcish Archer
#enddef

#define CHATRAIX_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Saurians"
	save_id=Saurian
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Saurian Skirmisher,Saurian Hunter,Desert Saurian Slinger,Desert Saurian Milita,Deep Saurian Fighter,Deep Saurian Blacksmith,Deep Saurian Rider
	{ATO_SAURIAN_FLAG}
#enddef

#define URADREDIA_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Lintanir Elves"
	save_id=Elves
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout,Wose
	{ELF_FLAG}
#enddef

#define SERRUL_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Dunefolk"
	save_id=Serrul
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner
#enddef

#define WELDYN_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Humans of Wesnoth"
	save_id=Human
	gold_lock=false
	income_lock=false
	color_lock=false
	recruit=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage
#enddef

#define ORC_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "United Clans"
	gold_lock=false
	income_lock=false
	color_lock=false
	save_id=Orc
	{BLACK_FLAG}
#enddef

#define WESTIN_ELVES_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Westin and Aethenwood Elves"
	save_id=Westin
	gold_lock=false
	income_lock=false
	color_lock=false
	#Individual Leaders will have individual recruits
	{CUSTOM_SG_FLAG}
#enddef

#define DWARFS_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Dwarves of Knalgan"
	save_id=Dwarf
	gold_lock=false
	income_lock=false
	color_lock=false
#enddef