# This file contains unit utility macros for WML authors.

#define PUT_WOSE Z X Y
    [unit]
        type=Icy_Wose
        side={Z}
        x={X}
        y={Y}
		placement=map
		passable=yes
        animate=yes
    [/unit]
    [delay]
        time=200
    [/delay]
#enddef

#define GREEN_ELVES SIDES
	[event]
		name=unit placed
		first_time_only=no

			[modify_unit]
				duration=scenario

				[filter]
					side={SIDES}
					x,y=$x1,$y1
					race=elf,wose
				[/filter]
				{TEAM_COLOR_OVERRIDE () green}
			[/modify_unit]
	[/event]
#enddef